<div class="title">
  <h3>【{$str}】搜索结果：</h3>
</div>
<div id="article_lst">
{volist name="articles" id="article"}
<article class="excerpt excerpt"><a class="focus" href="javascript:void(0);" article="{$article.id}" title="{$article.title}"><img class="thumb" data-original="{$article.pic_small}" src="{$article.pic_small}" alt="{$article.title}"></a>
  <header><a class="cat" href="javascript:void(0);" column="{$article.column_id}">{$article.column_name}<i></i></a>
    <h2><a href="javascript:void(0);" article="{$article.id}" title="{$article.title}" title="{$article.title}">{$article.title}</a></h2>
  </header>
  <p class="meta">
    <time class="time"><i class="glyphicon glyphicon-time"></i> {$article.time|date="Y-m-d H:i:s",###}</time>
    <span class="views"><i class="glyphicon glyphicon-eye-open"></i> 共{$article.click}人围观</span> <a class="comment" href="javascript:void(0);"><i class="glyphicon glyphicon-comment"></i> {$article.comment_count}个不明物体</a></p>
  <p class="note">{$article.desc}</p>
</article>
{/volist}
</div>
<div class="loader">
  <div class="pagination-loading">
    <div class="loader_img_box" style="display: none;">
      <img src="__STATIC__/images/loading.gif">
    </div>
  </div>
</div>
<div id="more_article">
  <div class="pagination">
    {if count($articles) >= 5}<button class="btn btn-default btn-search" search_str="{$str}">查看更多</button>{/if}
  </div>
</div>