<div class="find_level" style="display: none;">
<div class="row">
	<div class="col-xs-12 col-md-12">
		<div class="widget">
			<div class="widget-header  with-footer">
				<span class="widget-caption">【{$level.name}】的详细信息</span>
				<div class="widget-buttons">
					<a href="javascript:void(0)" data-toggle="dispose"><i class="fa fa-times"></i></a>
				</div>
			</div>
			<div class="widget-body">
				<div class="flip-scroll">
					<div class="table-scrollable">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th scope="col" style="text-align: center;">级别名称</th>
									<th scope="col" style="text-align: center;">级别等级（排序）</th>
									<th scope="col" style="text-align: center;">级别说明</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td align="center">{$level.name}</td>
									<td align="center">{$level.sort}</td>
									<td align="center">{$level.desc}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</div>