<div class="tag_lst_find" style="display: none;">
<div class="row">
	<div class="col-xs-12 col-md-12">
		<div class="widget">
			<div class="widget-header  with-footer">
				<span class="widget-caption">【{$str}】的搜索结果</span>
				<div class="widget-buttons">
					<a href="javascript:void(0)" data-toggle="dispose"><i class="fa fa-times"></i></a>
				</div>
			</div>
			<div class="widget-body">
				<div class="flip-scroll">
					<table class="table table-bordered table-hover">
						<thead class="flip-content bordered-palegreen">
							<tr>
								<th class="text-center" width="4%">ID</th>
								<th class="text-center">tag名称</th>
								<th class="text-center" width="15%">标签下文章数</th>
								<th class="text-center" width="20%">创建时间</th>
								<th class="text-center" width="260px">操作</th>
							</tr>
						</thead>
						<tbody>
							{volist name="tags" id="tag"}
							<tr>
								<td align="center">{$tag.id}</td>
								<td align="center">{$tag.name}</td>
								<td align="center">{$tag.article_count}</td>
								<td align="center">{$tag.time|date="Y-m-d H:i:s",###}</td>
								<td align="center">
									<a href="javascript:void(0);" class="btn btn-primary btn-sm shiny" onclick="tag_edit({$tag.id})">
										<i class="fa fa-edit"></i> 编辑
									</a>
									
									<a href="javascript:void(0);" onclick="tag_del({$tag.id})" class="btn btn-danger btn-sm shiny">
										<i class="fa fa-trash-o"></i> 删除
									</a>
									<div class="btn-group">
										<a class="btn btn-primary shiny btn-sm" href="javascript:void(0);">更多</a>
										<a class="btn btn-primary dropdown-toggle shiny btn-sm" data-toggle="dropdown" href="javascript:void(0);"><i class="fa fa-angle-down"></i></a>
										<ul class="dropdown-menu dropdown-primary">
											<li>
												<a href="javascript:void(0);" onclick="find_tag_article({$tag.id})">查看该tag下的文章</a>
											</li>
										</ul>
									</div>
								</td>
							</tr>
							{/volist}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
</div>