<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{block name="title"}{/block}</title>

	<meta name="description" content="Dashboard">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<link href="__STATIC__/css/bootstrap.css" rel="stylesheet">
	<link href="__STATIC__/css/font-awesome.css" rel="stylesheet">
	<link id="beyond-link" href="__STATIC__/css/beyond.css" rel="stylesheet">
	<link href="__STATIC__/css/details.css" rel="stylesheet">
	<link href="__STATIC__/css/core.css" rel="stylesheet">
	<script src="__STATIC__/js/jquery2_1.js"></script>
	<script type="text/javascript" src="/static/admin/editor/release/wangEditor.min.js"></script>
	<!-- <link href="__STATIC__/css/weather-icons.css" rel="stylesheet"> -->

<!-- 	<link href="__STATIC__/css/demo.css" rel="stylesheet">
	<link href="__STATIC__/css/typicons.css" rel="stylesheet">
	<link href="__STATIC__/css/animate.css" rel="stylesheet"> -->
	
</head>
<body>
	<!-- 头部 -->
	<div class="navbar">
	<div class="navbar-inner">
		<div class="navbar-container">

			<div class="navbar-header pull-left">
				<a href="{:url('Index/index')}" class="navbar-brand">
					<small>
							<img src="__STATIC__/images/logo.png" alt="">
						</small>
				</a>
			</div>

			<div class="sidebar-collapse" id="sidebar-collapse">
				<i class="collapse-icon fa fa-bars"></i>
			</div>

			<div class="navbar-header pull-right">
				<div class="navbar-account">
					<ul class="account-area">
						<li>
							<a class="login-area dropdown-toggle" data-toggle="dropdown">
								{if $session['dpic'] != false}
								<div class="avatar" title="">
									<img src="{$session.dpic}">
								</div>
								{/if}
								<section>
									<h2><span class="profile"><span>{$session.username}</span></span></h2>
								</section>
							</a>

							<ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">
								<li class="username"><a></a></li>
								<li class="dropdown-footer">
									<a href="{:url('Login/quit')}">
											退出登录
										</a>
								</li>
								<li class="dropdown-footer">
									<a href="/admin/user/changePwd.html">
											修改密码
										</a>
								</li>
							</ul>

						</li>

					</ul>
				</div>
			</div>

		</div>
	</div>
</div>

	<!-- /头部 -->
	
	<div class="main-container container-fluid">
		<div class="page-container">
			<div class="page-sidebar" id="sidebar">
				<div class="sidebar-header-wrapper">
					<input class="searchinput" type="text">
					<i class="searchicon fa fa-search" id="catalog_search"></i>
					<div class="searchhelper">功能找不到？搜索一下吧</div>
				</div>
				<!--左侧栏-->
				<ul class="nav sidebar-menu" id="menu">
					{if condition="($user_permission['admin_see'] == '1') OR ($user_permission['permission_see'] == '1') OR ($user_permission['level_see'] == '1')"}
					<li>
						<a href="#" class="menu-dropdown">
							<i class="menu-icon fa fa-user"></i>
							<span class="menu-text">管理员</span>
							<i class="menu-expand"></i>
						</a>
						<ul class="submenu">
							{if condition="($user_permission['admin_see'] == '1')"}
							<li>
								<a href="javascript:void(0);" onclick="admin_lst()">
									<span class="menu-text">管理员列表</span>
									<i class="menu-expand"></i>
								</a>
							</li>
							{/if}
							{if condition="($user_permission['permission_see'] == '1')"}
							<li>
								<a href="javascript:void(0);" onclick="permission_lst()">
									<span class="menu-text">管理员权限设定</span>
									<i class="menu-expand"></i>
								</a>
							</li>
							{/if}
							{if condition="($user_permission['level_see'] == '1')"}
							<li>
								<a href="javascript:void(0);" onclick="level_lst()">
									<span class="menu-text">权限级别</span>
									<i class="menu-expand"></i>
								</a>
							</li>
							{/if}
						</ul>                            
					</li> 
					{/if}
					{if condition="($user_permission['article_see'] == '1') OR ($user_permission['column_see'] == '1') OR ($user_permission['tag_see'] == '1') OR ($user_permission['comment_see'] == '1')"}
					<li>
						<a href="#" class="menu-dropdown">
							<i class="menu-icon fa fa-file-text"></i>
							<span class="menu-text">文章相关</span>
							<i class="menu-expand"></i>
						</a>
						<ul class="submenu">
							{if condition="($user_permission['article_see'] == '1')"}
							<li>
								<a href="javascript:void(0);" onclick="article_lst()">
								<span class="menu-text">文章</span>
								<i class="menu-expand"></i>
								</a>
							</li>
							{/if}
							{if condition="($user_permission['column_see'] == '1')"}
							<li>
								<a href="javascript:void(0);" onclick="column_lst()">
								<span class="menu-text">栏目(前台导航栏)</span>
								<i class="menu-expand"></i>
								</a>
							</li>
							{/if}
							{if condition="($user_permission['tag_see'] == '1')"}
							<li>
								<a href="javascript:void(0);" onclick="tag_lst()">
								<span class="menu-text">TAG(标签云)</span>
								<i class="menu-expand"></i>
								</a>
							</li>
							{/if}
							{if condition="($user_permission['comment_see'] == '1')"}
							<li>
								<a href="javascript:void(0);" onclick="comment_lst()">
								<span class="menu-text">文章评论</span>
								<i class="menu-expand"></i>
								</a>
							</li> 
							{/if}
						</ul>                        
					</li> 
					{/if}
					<li>
						<a href="#" class="menu-dropdown">
							<i class="menu-icon fa fa-gear"></i>
							<span class="menu-text">访问记录</span>
							<i class="menu-expand"></i>
						</a>
						<ul class="submenu">
							{if condition="($user_permission['visit_see'] == '1')"}
							<li>
								<a href="javascript:void(0);" onclick="visit_lst()">
								<span class="menu-text">ip记录</span>
								<i class="menu-expand"></i>
								</a>
							</li>
							{/if}
							{if condition="($user_permission['click_see'] == '1')"}
							<li>
								<a href="javascript:void(0);" onclick="click_lst()">
								<span class="menu-text">访问量</span>
								<i class="menu-expand"></i>
								</a>
							</li>
							{/if}
						</ul>                            
					</li>
					<li>
						<a href="#" class="menu-dropdown">
							<i class="menu-icon fa fa-home"></i>
							<span class="menu-text">网站相关</span>
							<i class="menu-expand"></i>
						</a>
						<ul class="submenu">
							{if condition="($user_permission['notice_see'] == '1')"}
							<li>
								<a href="javascript:void(0);" onclick="notice_lst()">
								<span class="menu-text">网站公告</span>
								<i class="menu-expand"></i>
								</a>
							</li>
							{/if}
							{if condition="($user_permission['link_see'] == '1')"}
							<li>
								<a href="javascript:void(0);" onclick="link_lst()">
								<span class="menu-text">友情链接</span>
								<i class="menu-expand"></i>
								</a>
							</li>
							{/if}
							{if condition="($user_permission['sentence_see'] == '1')"}
							<li>
								<a href="javascript:void(0);" onclick="sentence_lst()">
								<span class="menu-text">每日一句</span>
								<i class="menu-expand"></i>
								</a>
							</li>
							{/if}
						</ul>
					</li>
				</ul>
				<!--/左侧栏-->
			</div>
			<!-- 内容主体 -->
			<div class="page-content" id="content">
				{block name="body"}
				{/block}
			</div>
			<!-- /内容主体 -->
		</div>
	</div>
	<div id="loading_zz" style="display: none;"></div>	
	<script src="__STATIC__/js/bootstrap.js"></script>
	<script src="__STATIC__/js/jquery.js"></script>
	<script src="__STATIC__/js/beyond.js"></script>
	<script src="__STATIC__/js/jq_pjax2.0.1.js"></script>
	<script src="__STATIC__/js/core.js"></script>
	{block name="js"}
	{/block}
</body>
</html>